* {
    box-sizing: border-box;
}

.case-study-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.top-header {
    position: fixed;
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6847ff;
}

.title {
    position: relative;
    color: #f7dafd;
    font-size: 64px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.top-navbar {
    position: fixed;
    width: 100%;
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.top-nav-item {
    position: relative;
    top: 41px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    display: inline-block;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -40px;
}

.top-nav-item.selected {
    color: #f7dafd;
    background-color: #6847ff;
    border-radius: 0px 0px 42px 42px;
}

.logogroup {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.underlogo {
    width: 172px;
    height: 43px;
    background-color: #f7dafd;
    border-radius: 84px 0px 0px 0px;
}

.logo {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.description {
    position: absolute;
    width: 1028px;
    top: 340px;
    left: 505px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.left-navbar {
    position: fixed;
    width: 319px;
    height: 437px;
    top: 341px;
    left: 44px;
}

.formalised {
    position: absolute;
    top: 341px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.normative {
    position: absolute;
    top: 208px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper {
    position: absolute;
    top: 123px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.description-button {
    position: absolute;
    width: 272px;
    height: 86px;
    top: 0;
    left: 0;
}

.overlap-group {
    position: relative;
    width: 270px;
    height: 86px;
    background-color: #6847ff;
    border-radius: 84px;
}

.text {
    position: absolute;
    top: 19px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #f7dafd;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.selector {
    position: fixed;
    width: 30px;
    height: 35px;
    top: 367px;
    left: 10px;
}
