.case-study-page {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
    overflow: hidden;
}

.case-study-page .footer {
    position: absolute;
    width: 180px;
    height: 224px;
    top: 856px;
    left: 1740px;
    background-color: transparent;
}

.case-study-page .logogroup {
    position: relative;
    width: 180px;
    height: 224px;
}

.case-study-page .div {
    position: absolute;
    width: 172px;
    height: 43px;
    top: 181px;
    left: 8px;
    background-color: #f7dafd;
    border-radius: 84px 0px 0px 0px;
}

.case-study-page .logo {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.case-study-page .description {
    position: absolute;
    width: 1028px;
    top: 444px;
    left: 505px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .text-wrapper {
    font-weight: 600;
}

.case-study-page .span {
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
}

.case-study-page .before-after-toggle {
    position: absolute;
    width: 340px;
    height: 86px;
    top: 322px;
    left: 790px;
}

.case-study-page .overlap {
    position: relative;
    width: 342px;
    height: 86px;
}

.case-study-page .button {
    all: unset;
    box-sizing: border-box;
    left: 170px;
    position: absolute;
    width: 172px;
    height: 86px;
    top: 0;
}

.case-study-page .overlap-group {
    position: relative;
    width: 170px;
    height: 86px;
    border-radius: 0px 84px 84px 0px;
    border: 3px solid;
    border-color: #f7dafd;
}

.case-study-page .text {
    position: absolute;
    top: 16px;
    left: 35px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.case-study-page .overlap-wrapper {
    all: unset;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    width: 172px;
    height: 86px;
    top: 0;
}

.case-study-page .div-wrapper {
    position: relative;
    width: 170px;
    height: 86px;
    background-color: #f7dafd;
    border-radius: 84px 0px 0px 84px;
}

.case-study-page .text-2 {
    top: 19px;
    left: 27px;
    color: #6847ff;
    font-size: 40px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .left-navbar {
    position: absolute;
    width: 320px;
    height: 418px;
    top: 341px;
    left: 44px;
}

.case-study-page .formalised {
    position: absolute;
    top: 322px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .normative {
    position: absolute;
    width: 316px;
    height: 111px;
    top: 183px;
    left: 0;
}

.case-study-page .normative-wrapper {
    position: relative;
    width: 314px;
    height: 111px;
    background-color: #6847ff;
    border-radius: 84px;
}

.case-study-page .normative-2 {
    position: absolute;
    width: 260px;
    top: 6px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #f7dafd;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .text-wrapper-2 {
    position: absolute;
    top: 104px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.case-study-page .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.case-study-page .label-wrapper {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 797px;
    left: 793px;
}

.case-study-page .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #f7dafd;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .selector {
    position: absolute;
    width: 30px;
    height: 35px;
    top: 562px;
    left: 10px;
}

.case-study-page .top-navbar {
    position: absolute;
    width: 1256px;
    height: 186px;
    top: 86px;
    left: 335px;
}

.case-study-page .text-wrapper-4 {
    position: absolute;
    width: 276px;
    top: 41px;
    left: 974px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.case-study-page .text-wrapper-5 {
    position: absolute;
    width: 185px;
    top: 41px;
    left: 674px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.case-study-page .text-wrapper-6 {
    position: absolute;
    width: 124px;
    top: 41px;
    left: 435px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6847ff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.case-study-page .div-2 {
    position: absolute;
    width: 343px;
    height: 186px;
    top: 0;
    left: 0;
}

.case-study-page .overlap-group-2 {
    position: relative;
    width: 341px;
    height: 186px;
    background-color: #e7d6fb;
    border-radius: 0px 0px 42px 42px;
}

.case-study-page .text-3 {
    width: 98px;
    top: 119px;
    left: 122px;
    color: #6847ff;
    font-size: 40px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .case-studies-button {
    position: absolute;
    width: 343px;
    height: 116px;
    top: 0;
    left: 0;
}

.case-study-page .overlap-2 {
    position: relative;
    width: 341px;
    height: 116px;
}

.case-study-page .background {
    position: absolute;
    width: 341px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #6847ff;
    border-radius: 0px 0px 42px 42px;
}

.case-study-page .text-4 {
    width: 299px;
    top: 41px;
    left: 21px;
    color: #f7dafd;
    font-size: 48px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.case-study-page .top-header {
    position: absolute;
    width: 1922px;
    height: 86px;
    top: 0;
    left: 0;
}

.case-study-page .overlap-3 {
    position: relative;
    width: 1920px;
    height: 86px;
    background-color: #6847ff;
}

.case-study-page .text-5 {
    top: 5px;
    left: 688px;
    color: #f7dafd;
    font-size: 64px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}
