@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

a {
  text-decoration: none;
}

.case-studies {
  position: absolute;
  width: 1642px;
  height: 558px;
  top: 444px;
  left: 131px;
}

.entry {
  position: absolute;
  width: 1616px;
  height: 166px;
  top: 392px;
  left: 0;
}

.links {
  position: absolute;
  width: 827px;
  height: 29px;
  top: 137px;
  left: 268px;
}

.link {
  width: 291px;
  left: 530px;
  position: absolute;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6847ff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper {
  width: 284px;
  left: 209px;
  position: absolute;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6847ff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div {
  width: 172px;
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6847ff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.description {
  position: absolute;
  width: 1344px;
  top: 48px;
  left: 268px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.title {
  position: absolute;
  top: 0;
  left: 268px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.image {
  position: absolute;
  width: 250px;
  height: 166px;
  top: 0;
  left: 0;
}

.entry-2 {
  position: absolute;
  width: 1616px;
  height: 167px;
  top: 196px;
  left: 0;
}

.links-2 {
  left: 268px;
  position: absolute;
  width: 827px;
  height: 29px;
  top: 138px;
}

.p {
  left: 268px;
  position: absolute;
  width: 1344px;
  top: 52px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.img {
  width: 250px;
  object-fit: cover;
  position: absolute;
  height: 167px;
  top: 0;
  left: 0;
}

.entry-3 {
  position: absolute;
  width: 1638px;
  height: 167px;
  top: 0;
  left: 8px;
}

.links-3 {
  left: 260px;
  position: absolute;
  width: 827px;
  height: 29px;
  top: 138px;
}

.description-2 {
  left: 260px;
  position: absolute;
  width: 1344px;
  top: 52px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.title-2 {
  position: absolute;
  top: 0;
  left: 260px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.image-2 {
  width: 242px;
  position: absolute;
  height: 167px;
  top: 0;
  left: 0;
}

.overlap {
  position: absolute;
  width: 1920px;
  height: 255px;
  top: 159px;
  left: 0;
}

.upper-background {
  position: absolute;
  width: 1920px;
  height: 243px;
  top: 0;
  left: 0;
  background-color: #e7d6fb;
}

.explanation {
  position: absolute;
  width: 1260px;
  top: 11px;
  left: 330px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

