.case-study-page-description-textbox {
    position: fixed;
    top: 280px;
    left: 450px;
    width: 1028px;
    max-height: calc(100vh - 280px);
    overflow-y: auto;
}

.case-study-info h1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

.case-study-info p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	margin-top: -15px;
}

.case-study-info ul {
	display: flex;
	gap: 40px;
	padding-left: 0;
}

.case-study-info ul a {
	font-size: 1.5rem;
	font-weight: 300;
}

.case-studies-page {
    display: flex;
    justify-content: flex-start;
	align-items: center;
    flex-direction: column;
}

.description {
    color: black;
    font-size: 40px;
}

.left-navbar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 319px;
    height: 437px;
    top: 265px;
    left: 44px;
}

.left-nav-item {
    position: relative;
    color: #6847ff;
    font-size: 40px;
    display: inline-block;
    margin: 15px;
}

.left-nav-item.selected {
    color: #f7dafd;
    background-color: #6847ff;
    border-radius: 42px;
    padding: 15px 30px;
}

.selector {
    position: fixed;
    top: 367px;
    left: 10px;
}

.publications {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 35px;
	top: 200px;
}

.publications div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.publications ul {
	width: 80%;
}

.publications ul li {
	font-size: 1.5rem;
	font-weight: 300;
}

.team {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 200px;
}

.tutorials {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 200px;
}

.tutorials img {
	width: 40%;
	padding-bottom: 10px;
}

.tutorials p {
	width: 40%;
	text-align: center;
}

