.case-study-page-description-textbox {
    position: fixed;
    top: 280px;
    left: 450px;
    width: 1028px;
    max-height: calc(100vh - 280px);
    overflow-y: auto;
}

.case-studies-page {
    display: flex;
    justify-content: flex-start;
	align-items: center;
    flex-direction: column;
}

.description {
    color: black;
    font-size: 40px;
}

.left-navbar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 319px;
    height: 437px;
    top: 265px;
    left: 44px;
}

.left-nav-item {
    position: relative;
    color: #6847ff;
    font-size: 40px;
    display: inline-block;
    margin: 15px;
}

.left-nav-item.selected {
    color: #f7dafd;
    background-color: #6847ff;
    border-radius: 42px;
    padding: 15px 30px;
}

.selector {
    position: fixed;
    top: 367px;
    left: 10px;
}

.publications-lists-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 35px;
	top: 200px;
}

.publications-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-lists-container {
	position: absolute;
	display: flex;
	justify-content: center;
	gap: 47.5px;
	width: 100%;
	top: 200px;
}

.tutorials-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 47.5px;
	top: 200px;
}

.tutorial-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tutorials-image {
	width: 40%;
	padding-bottom: 10px;
}

.tutorials-description {
	width: 40%;
	text-align: justify;
	text-align-last: center;
}

