.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo img {
    width: 10rem;
    height: auto;
    object-fit: cover;
}

.logo div {
    width: calc(10rem - 3px);
    height: 2.6rem;
    background-color: #f7dafd;
    border-radius: 84px 0px 0px 0px;
}
