.top-navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
	gap: 35px;
	top: 85px;
	padding-left: 0;
	margin: 0;
	background-color: white;
	transition: top 0.3s;
	z-index: 10;
}

.top-navbar a {
	color: inherit;
}

.top-nav-item {
    position: relative;
    color: #6847ff;
    font-size: calc(1.6vw + 0.4vh);
	font-weight: 400;
    white-space: nowrap;
	height: calc(2vw + 4.2vh);
    display: inline-block;
    padding-top: 3vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -1.4vh;
}

.top-nav-item.selected {
    color: #f7dafd;
    background-color: #6847ff;
    border-radius: 0 0 42px 42px;
}

