.top-description {
	position: relative;
  width: 100%;
	display: flex;
	justify-content: center;
	background-color: #e7d6fb;
	top: 12rem;
}

.top-description p {
	width: 55%;
	text-align: center;
	margin: 1rem;
}
