.top-navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
	  gap: 2.2rem;
	  top: 6rem;
	  padding-left: 0;
	  margin: 0;
	  background-color: white;
	  transition: top 0.3s;
	  z-index: 10;
}

.top-navbar-item {
    position: relative;
    color: #6847ff;
    font-size: 2.5rem;
	  font-weight: 400;
    white-space: nowrap;
	  height: 5.2rem;
    display: inline-block;
    padding-top: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -1.4vh;
}

.top-navbar-item-selected {
    color: #f7dafd;
    background-color: #6847ff;
    border-radius: 0 0 42px 42px;
}

.top-navbar-link {
	  color: inherit;
}
