---
layout: default
title: Case Study
---

<div class="case-study-container">
  <nav>
    <ul class="left-navbar">
      <li class="left-navbar-item left-navbar-item-selected"><a class="left-navbar-link" href="#description">Description</a></li>
      <li class="left-navbar-item"><a class="left-navbar-link" href="#characteristics">Characteristics</a></li>
      <li class="left-navbar-item"><a class="left-navbar-link" href="#normative-requirements">Normative<br />Requirements</a></li>
      <li class="left-navbar-item"><a class="left-navbar-link" href="#formalised-requirements">Formalised<br />Requirements</a></li>
    </ul>
  </nav>

  <main>
    <section id="description">Description</section>
    <section id="characteristics">Characteristics</section>
    <section id="normative-requirements">Normative Requirements</section>
    <section id="formalised-requirements">Formalised Requirements</section>
  </main>
</div>

<!--
    <script src="/assets/js/left-navbar.js"></script>
    -->
