<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
	<div class="logogroup">
      <img class="logo" src="/assets/images/logo.png" />
      <div class="underlogo"></div>
    </div>
	<ul id="top-navbar" class="top-navbar">
	  <li class="{% if page.title == 'Case Studies' %}top-nav-item selected{% else %}top-nav-item{% endif %}"><a href="/index.html">Case Studies</a></li>
	  <li class="{% if page.title == 'Team' %}top-nav-item selected{% else %}top-nav-item{% endif %}"><a href="/team.html">Team</a></li>
	  <li class="{% if page.title == 'Projects' %}top-nav-item selected{% else %}top-nav-item{% endif %}"><a href="/projects.html">Projects</a></li>
	  <li class="{% if page.title == 'Publications' %}top-nav-item selected{% else %}top-nav-item{% endif %}"><a href="/publications.html">Publications</a></li>
	  <li class="{% if page.title == 'Tutorials' %}top-nav-item selected{% else %}top-nav-item{% endif %}"><a href="/tutorials.html">Tutorials</a></li>
	  <li class="{% if page.title == 'Info' %}top-nav-item selected{% else %}top-nav-item{% endif %}"><a href="/info.html">Info</a></li>
	</ul>
	<div class="header">
      <div class="title">SLEEC Repository</div>
    </div>
	{{ content }}
  </body>
</html>

 <script src="/assets/js/top-navbar.js"></script> 
